.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg,#fff, rgb(240, 232, 170));
}
::-webkit-scrollbar{
    display: none;
}
.heading{
    padding: 30px;
    align-self: center;
}